<h1>Burgs!</h1>

<h2>Burgers Burgers Burgers</h2>

<div> Available Burgers
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers devour=true}}
  {{/unless}}
  {{/each}}
  </div>

    <form class="create-form">
          <div>
            <input type="text" id="burger" name="name">
          </div>
          <div>
              <br>
          <button class="btn btn-warning mx-auto" type="submit">Add burger</button>
          </div>
            <div class="form-group mx-auto">
            <label for="burger">Add Burger</label>
          </div>

    <div>
      <p>Eaten Burgers</p>
      {{#each burgers}}
      {{#if devoured}}
      {{> eaten}}
      {{/if}}
      {{/each}}
    </div>